@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
	font-family:'Noto Sans TC','Microsoft YaHei';
}

/*navbar*/
.navbar {		
	margin-bottom: 0;
	border: 0;
	font-size: 18px !important;
	letter-spacing: 3px;
	opacity:1;
	font-weight:bold;
 }
 
/*navbar文字顏色*/ 
#navbardrop{
	color: #000000 !important; 	
}
 
/*navbar文字顏色*/ 
#navbardrop2{
	color: #ffffff !important; 	
}
/* 滑鼠移至navbar自動底線效果 */
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > li > a:hover {
	color: #F3F3F3;
	border-bottom: 5px solid #26D07C;
	//border-bottom: 5px solid #D07E7B;
	margin-bottom:-5px;
	 background-color: #000000;
}

/* 滑鼠移至navbar自動展開 */
.dropdown:hover > .dropdown-menu {
	display: block;
	margin: 0; 
	padding: 0;
	border:0;
	border-radius: 0px 0px 0px 0px;
}

/* navbar展開效果 */
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

.dropdown:hover .dropdown-menu {
	margin-top:1px;
    opacity: 1;
}

.dropdown-menu > a{
    background-color:#696969;
	color:#ffffff !important; 
	font-weight:bold;
}

/* 滑鼠移動到下拉式選單背景顏色、文字顏色效果 */
.dropdown-menu > a:hover{
    background-color:#000000;
	color:#26D07C !important;
    opacity: 0.9;
}
.dropdown-item{
	height:40px;
	
}
/* navbar手機模式三槓設定  */
.navbar-toggler{
	background-color:#26D07C;
}

/* 去超連結底線 */
.container a{
    text-decoration:none;	
}

#date1, #date2, #date3, #date4, #date5{
	font-size:12px;
	color:#808080;	
}

/* 輪播 */
.carousel-inner img {
	width: 100%;
	height: 100%;
	margin-bottom:2%;
}

/* cs1_left_meum ------------*/
#list_in{
	font-size:22px;
	border:none;
	font-weight:bold;
}

#list_in a{
	color:#9d9d9d;
}

#list_out{
	font-size:22px;
	border:none;
	font-weight:bold;
}

#list_out a{
	color:#000000;
}
/* cs1_left_meum ------------*/

/* 滑鼠移至項目後icon會水平翻轉 */
#list_out:click > #icon{
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 	/* Opera */
}

/* CLSM_icon設定 */
#clsm_icon{
	color:#26D07C;
}

#news_ds{
	border-bottom:2px solid #004b97;
}
/* cs1右下角裝飾用文字 */
#cs1_decoration_color{
	color:#26D07C;
}

@media (min-width: 0px) and (max-width: 991.98px) { 
	/* 上方語言間距下方*/
	#language_s{
		margin-bottom:5px;
	}
	
	/* 上方語言消失 */
	#language_b{
		display: none;
	}	
	
	/* index_right_news 間距及框線設定------------ */	
	#myBtn2{
		margin-left:2px;
		margin-right:2px;
		margin-bottom:10px;
		border:2px #ccc solid;border-radius:50px;
	}
	#myBtn3{
		margin-left:2px;
		margin-right:2px;
		margin-bottom:10px;
		border:2px #ccc solid;border-radius:50px;
	}
	#myBtn4{
		margin-left:2px;
		margin-right:2px;
		margin-bottom:10px;
		border:2px #ccc solid;border-radius:50px;
	}
	#myBtn5{
		margin-left:2px;
		margin-right:2px;
		border:2px #ccc solid;border-radius:50px;
	}
	/* index_right_news 間距及框線設定------------ */	
	
	/* index_right_news icon消失 */
	#index_icon, #index_green, .navbar1, #carousel1{
		display: none;
	}
	
	/* index_right_news 文字 */
	#index_new_p{
		font-size:14px;		
	}	
	
	/* index_footer文字大小 */
	#footer_p, #footer_fan_p, #footer_p_copyright{
		font-size:9px;		
	}
	
	/* cs1右下角裝飾用文字 */
	#cs1_decoration_color {
		display: none;
	}
	
	/* footer左邊間距20 */
	footer{
		padding-left:20px;
	}
	
	/* footer_fans_icon大小 */
	#footer_icon{
		width:30px;
	}
	
	/* cs1左側選單格式 */
	#cs1_left_menu{
		letter-spacing:5px;
		line-height:50px;
	}
	#people_title{
	  width:110%;
	}
}
 
@media (min-width: 992px) and (max-width: 2000px) { 
	/* 上方語言消失 */
	#language_s, .navbar2, #carousel2{
		display: none;
	}
	
	/* index_left_news zindex_1 */
	#new_img_title{
		z-index:1;
		position:absolute;
	}
	
	/* index_left_news zindex_0 */
	#new_img0{
		z-index:0;
		position:absolute;
	}
	
	/* index_right_news 文字 */
	#index_new_p{
		font-size:13px;		
	}	
		
	
	/* cs1左側選單格式 */
	#cs1_left_menu{
		margin-top:-120px;
		letter-spacing:5px;
		line-height:50px;
	}
	
	/* index_footer文字大小 */
	#footer_p{
		font-size:13px;
	}
	
	/* index_footer_copyright文字大小 */
	#footer_p_copyright{
		font-size:13px;
		text-align:right;
	}
	
	/* index_right_news大小*/
	#index_icon{
		width:10px;
	}
	
	/* cultural_icon大小*/
	#cultural_icon{
		width:10px;
	}
		
	/* footer_fan_p大小 */
	#footer_fan_p{
		font-size:16px;		
	}
	
	/* cs1_content左邊間距 */
	#cs1_content{
		margin-left:50px;
	}
	#people_title{
	  width:60%;
	}
}

/* 右側消息：滑鼠移至消息列背景顏色綠色、文字白色、對應的圖片透明度0.5 */
.main{
	background: -webkit-linear-gradient(left,#26D07C,#006A28);
	background: -o-linear-gradient(left,#26D07C,#006A28);
	background: -moz-linear-gradient(left,#26D07C,#006A28);
	background: linear-gradient(to left,#26D07C,#006A28);
}

/* 右側消息：滑鼠移至消息列背景顏色綠色、文字白色、對應的圖片透明度0.5 */
.main2{
	background: -webkit-linear-gradient(315deg,#ffffff,#26D07C);
	background: -o-linear-gradient(315deg,#ffffff,#26D07C);
	background: -moz-linear-gradient(315deg,#ffffff,#26D07C);
	background: linear-gradient(to 315deg,#ffffff,#26D07C);
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

/* 右側消息：滑鼠移至消息列背景顏色綠色、文字白色、對應的圖片透明度0.5 */
#p1_ds{ 
	width: 340px;
	height:350px;
	background: -webkit-linear-gradient(315deg,#ffffff,#9d9d9d);
	background: -o-linear-gradient(315deg,#ffffff,#9d9d9d);
	background: -moz-linear-gradient(315deg,#ffffff,#9d9d9d);
	background: linear-gradient(to 315deg,#ffffff,#9d9d9d);
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

/* 右側消息：滑鼠移至消息列背景顏色綠色、文字白色、對應的圖片透明度0.5 */
#p1_ds2{ 
	width: 340px;
	height:340px;
	background: -webkit-linear-gradient(315deg,#ffffff,#9d9d9d);
	background: -o-linear-gradient(315deg,#ffffff,#9d9d9d);
	background: -moz-linear-gradient(315deg,#ffffff,#9d9d9d);
	background: linear-gradient(to 315deg,#ffffff,#9d9d9d);
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

/* cs1左側選單箭頭翻轉90度*/
.flip {	
	transform: rotate(90deg);
	margin-top:10px;
}

/* cs1左側選單箭頭速度1秒*/
#icon {
	-moz-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#table_row{
	background-color:#9CEDC4;
	opacity:0.8;
}
/*clsm_tab內容效果*/
#clsm_tab{
	padding-left:2.5%;padding-bottom:3%;line-height:2;
}
/*nav_clsm列效果*/
#nav_clsm a{
	color: #000000 !important;
	font-weight: bold;
	padding-left: 28px;
	padding-right: 28px;
	border:none !important;
	border-bottom: 3px solid #26D07C !important;
}
/*nav_clsm點擊後效果*/
#nav_clsm .active{
	color: #26D07C !important;
	border:none !important;
	background-color:rgba(0,0,0,0) !important;
	border-top: 3px solid #26D07C !important;
	border-left: 3px solid #26D07C !important;
	border-right: 3px solid #26D07C !important;
	font-weight: bold;
}

/*nav_clsm_Tab效果*/
#nav_clsm_Tab{
	border:none !important;
}

#news_text{	
	border-right: 2px solid #bebebe !important;
}	

.fa-rotate-45 {
	color:#26D07C;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#news_font{
	font-size:24px;
}

/* 備註預留部分 */
/* .modal-dialog { */
  /* max-width: 80% !important; */
/* } */
/* cs1旋轉 */
/* @-webkit-keyframes rotating  { */ /* Safari and Chrome */
  /* from { */
    /* -webkit-transform: rotate(0deg); */
    /* -o-transform: rotate(0deg); */
    /* transform: rotate(0deg); */
  /* } */
  /* to { */
    /* -webkit-transform: rotate(360deg); */
    /* -o-transform: rotate(360deg); */
    /* transform: rotate(360deg); */
  /* } */
/* } */
/* @keyframes rotating { */
  /* from { */
    /* -ms-transform: rotate(0deg); */
    /* -moz-transform: rotate(0deg); */
    /* -webkit-transform: rotate(0deg); */
    /* -o-transform: rotate(0deg); */
    /* transform: rotate(0deg); */
  /* } */
  /* to { */
    /* -ms-transform: rotate(360deg); */
    /* -moz-transform: rotate(360deg); */
    /* -webkit-transform: rotate(360deg); */
    /* -o-transform: rotate(360deg); */
    /* transform: rotate(360deg); */
  /* } */
/* } */
/* #cs1_img { */
	/* margin-left:10%; */
	/* margin-top:7%; */
	/* width:70%; */
	/* -webkit-animation: rotating 15s linear infinite; */
	/* -moz-animation: rotating 15s linear infinite; */
	/* -ms-animation: rotating 15s linear infinite; */
	/* -o-animation: rotating 15s linear infinite; */
	/* animation: rotating 15s linear infinite;   */
/* } */

/* #cs1-card-header{ */
	/* background-color:#ffffff; */
	/* border-right:#004b97 10px solid; */
/* } */

/* #cs1-card-bodycolor{ */
	/* color:#004b97; */
	/* font-weight:bold; */
/* } */

/* #pic-card-header{ */
	/* background-color:#ffffff; */
	/* border-left:#bb5e00 10px solid; */
	/* border-right:#bb5e00 10px solid; */
/* } */

/* #pic-card-bodycolor{ */
	/* color:#bb5e00; */
	/* font-weight:bold; */
/* } */


/* 滑鼠移至navbar自動底線效果 */
/* .news_div1, .news_div2, .news_div3, .news_div4{ */
	/* border-left:2px solid #bebebe;	 */
/* } */
/* .news_div2:hover{ */
    /* background-color:#26D07C; */
	/* color:#ffffff; */
/* } */

/* .news_div2:hover #date{ */
	/* color:#ffffff;	 */
/* } */
